{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Main page</title>

{% endblock %}

{% block content %}
<div class="container">
    <div>
        <form method="GET" action="{% url 'search' %}" style="margin: auto">
            <div class="form-group">
                <label>Nazwa
                    <input type="text" name="name" class="form-control" placeholder="nazwa sali"></label>
                <label>Data:
                <input type="date" name="date" class="form-control" min={{ today }}></label>
                <label>Pojemność:
                <input type="number" name="capacity" class="form-control" placeholder="pojemność"></label>
                <label>
                <input type="checkbox" name="projector" class="form-control">Projektor</label>

                <input type="submit" value="Szukaj" class="btn btn-warning">
            </div>
        </form>
    </div><br><hr><br>

    <a href="/room/new"><button type="button" class="btn btn-info btn-lg btn-block"><strong>Dodaj salę</strong></button></a>

    <div class="window">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nazwa sali</th>
                    <th>Ilość miejsc</th>
                    <th>Status</th>
                    <th>Edycja</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td><a href="room/{{ room.id }}">{{ room.name }}</a></td>
                        <td>{{ room.capacity }}</td>
                        {% for k,v in status.items %}
                            {% if room.id == k %}
                            <td>{{ v }}</td>
                            {% endif %}
                        {% endfor %}
                        <td><a href="room/modify/{{ room.id }}">Link</a></td>
                        <td><a href="room/delete/{{ room.id }}">Link</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}